@import "./helpers/variables.scss";

* {
  font-family: Arial, sans-serif;
}

.todo {
  max-width: 600px;
  width: 100%;
  margin: 30px auto;
  text-align: center;
}

.todo-list {
  list-style: none;
  margin-top: 30px;
  padding: 0;
}


